In [3]:
import numpy as np
import pandas as pd

## Import dataset

In [14]:
df = pd.read_csv(r'data\gapminder.tsv', sep='\t')
type(df)

pandas.core.frame.DataFrame

In [16]:
df.head(10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [19]:
# shape is attribute not a method 
df.shape

(3312, 6)

In [20]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [22]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    3312 non-null   object
 1   continent  3011 non-null   object
 2   year       3312 non-null   int64
 3   lifeExp    3312 non-null   float64
 4   pop        3312 non-null   int64
 5   gdpPercap  3312 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 155.4+ KB

In [24]:
df.isnull().sum()

country        0
continent    301
year           0
lifeExp        0
pop            0
gdpPercap      0
dtype: int64