In [9]:
# import libraries
import numpy as np
import pandas as pd

In [10]:
# calculate run time
import time

start_time = time.time()

sum = 0
# Your code goes here
for i in range(1000001):
    sum += i
print(sum)

end_time = time.time()
run_time = end_time - start_time

print("Run time: {} seconds".format(run_time))

500000500000
Run time: 0.17170381546020508 seconds

In [11]:
#sum of 0 to 1000000 without foor loops
start_time = time.time()

n = 1000000
sum = (n * (n + 1)) // 2
print(sum)

end_time = time.time()
run_time = end_time - start_time

print("Run time: {} seconds".format(run_time))

500000500000
Run time: 0.0010364055633544922 seconds

In [12]:
#sum of 0 to 1000000 with list comprehesion
# calculate run time
import time

start_time = time.time()

# sum of 0 to 1000000 with list comprehension
n = 1000000
sum = np.sum([i for i in range(n+1)])
print(sum)

end_time = time.time()
run_time = end_time - start_time

print("Run time: {} seconds".format(run_time))

500000500000
Run time: 0.19015860557556152 seconds

`loc` vs `iloc`

In [13]:
# create a dummy dataset of 100 rows and 15 columns of gdp data of 100 country and columns as year and save this as named gdp.csv
import pandas as pd
import numpy as np

# Create dummy dataset
data = np.random.randint(low=10, high=1000, size=(100, 15))
columns = [f'{i}' for i in range(2000,2015)]
df = pd.DataFrame(data, columns=columns)

# Add country column in the 1st column
countries = ['Country_' + str(i) for i in range(1,101)]
df.insert(0, 'country', countries)

# Save dataset as gdp.csv
df.to_csv('./data/gdp.csv', index=False)

In [14]:
gdp = pd.read_csv('./data/gdp.csv')
gdp.head()

,country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Country_1,192,559,772,84,919,595,943,104,488,290,264,759,241,532,640
1,Country_2,577,519,525,775,79,252,643,856,205,443,182,366,999,294,772
2,Country_3,525,939,731,959,819,973,527,922,337,258,825,108,47,458,399
3,Country_4,905,109,159,411,471,139,11,462,400,142,821,110,656,102,981
4,Country_5,294,514,468,766,750,713,584,97,820,751,897,924,620,742,105

In [16]:
# gdp.set_index('country', inplace=True)
gdp.loc['Country_1']

gdp.loc['Country_1', '2000']

gdp.loc[['Country_1', 'Country_2'], '2000']

gdp.loc[['Country_1', 'Country_2'], ['2000', '2010']]

gdp.loc['Country_1':'Country_5', '2000':'2005']

           2000  2001  2002  2003  2004  2005
country
Country_1   192   559   772    84   919   595
Country_2   577   519   525   775    79   252
Country_3   525   939   731   959   819   973
Country_4   905   109   159   411   471   139
Country_5   294   514   468   766   750   713

In [ ]:

gdp.iloc[:3, :5]

     country  2000  2001  2002  2003
0  Country_1   541   248   136   212
1  Country_2   911   253    78   639
2  Country_3   681   840   521   253

In [ ]:
start_time = time.time()

gdp[['country', '2000']]

end_time = time.time()
run_time = end_time - start_time
print(run_time)

0.007119178771972656

In [ ]:
start_time = time.time()

gdp.iloc[:,:2]

end_time = time.time()
run_time = end_time - start_time
print(run_time)

0.0007493495941162109

In [18]:
# select random rows
start_time = time.time()

gdp.sample(5, axis=0)

end_time = time.time()
run_time = end_time - start_time
print(run_time)

0.0023202896118164062

`np.random.randint()` vs. `df.sample()`

In [22]:
# select random rows using iloc and numpy random
start_time = time.time()

random_indices = np.random.choice(len(gdp), size=5, replace=False)

# Select random rows using iloc
random_rows = gdp.iloc[random_indices]

end_time = time.time()
print("Runtime {}".format(end_time-start_time))

Runtime 0.007947444915771484

array([73, 60, 62,  3, 61])