### Inner Join

In [5]:
# merging two data frames using inner join
# result = df1.merge(df2, how='inner', on='common_column')

import pandas as pd
import numpy as np

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 'B': ['B0', 'B1', 'B2', 'B3']})
df2 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 'D': ['D0', 'D1', 'D2', 'D3']})

result = df1.merge(df2, on='A')
result

    A   B   D
0  A0  B0  D0
1  A1  B1  D1
2  A2  B2  D2
3  A3  B3  D3

In [6]:
result2 = df1.merge(df2, how='inner', on='A')
result2

    A   B   D
0  A0  B0  D0
1  A1  B1  D1
2  A2  B2  D2
3  A3  B3  D3

In [7]:
result2.shape

(4, 3)

In [8]:
result2['B'].value_counts()

B0    1
B1    1
B2    1
B3    1
Name: B, dtype: int64